.timelineMonitor {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80vh;
  padding: 0 4px 30px;
  transform: translateY(100%);
  z-index: 99999;
  background-color: #f0f0f0;
  opacity: 0;
  transition: 0.5s ease;
  overflow-x: hidden;
  overflow-y: scroll;

  &Visible {
    opacity: 0.97;
    transform: translateY(0);
  }
}

.timelineMonitorTitle {
  margin: 10px 0;
  padding-left: 4px;
  line-height: 14px;
  border-left: 2px solid #47acff;
  font-weight: 700;
  color: #000;
  font-size: 15px;
}

.timelineMonitorContent {
  display: flex;
  font-size: 12px;
  color: #000;

  span {
    overflow-x: scroll;
    white-space: nowrap;

    &:first-child {
      margin-right: 10px;
      max-width: 70%;
    }

    &:last-child {
      color: #31aaa3;
    }
  }
}

.timelineMonitorIndicator {
  position: relative;
  margin: 3px 0;
  min-width: 2px;
  height: 4px;
  background-color: #47acff;
}
