.timelineMonitor {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80vh;
  padding: 0 4px 30px;
  transform: translateY(100%);
  z-index: 99999;
  background-color: #f0f0f0;
  opacity: 0;
  transition: 0.5s ease;
  overflow-x: hidden;
  overflow-y: scroll;

  &Visible {
    opacity: 0.97;
    transform: translateY(0);
  }
}

.timelineMonitorTitle {
  margin: 10px 0;
  padding-left: 4px;
  line-height: 14px;
  border-left: 2px solid #47acff;
  font-weight: 700;
  color: #000;
  font-size: 15px;
}

.barChart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.barChartItem {
  width: 100%;
}

.barLabel {
  white-space: nowrap;
  text-align: left;
  font-size: 14px;
  color: #333;

  > span {
    color: #007bff;
    display: inline-block;
    margin-left: 4px;
  }
}

.bar {
  height: 5px;
  background-color: #007bff;
  transition: width 0.5s ease;
}
