.title {
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
}

.title1 {
  color: black;
}

.container {
  margin-top: 20px;
}

.list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #c2bebe;
  padding: 12px;

  &:not(:first-child) {
    margin-top: 16px;
  }
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;

  > img {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
  }
}

.repositoryAvatar {
  width: 20px;
  height: 20px;

  > img {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
  }
}

.name {
  display: flex;
  font-weight: bold;
}

.action {
  font-weight: normal;
  margin-left: 4px;
  opacity: 0.6;
}

.time {
  font-size: 12px;
  opacity: 0.6;
  margin-top: 4px;
}

.repository {
  width: 100%;
  display: flex;
  margin-top: 8px;
  padding-left: 12px;
}
.repositoryName {
  font-weight: bold;
  margin-left: 4px;
}

.desc {
  width: 100%;
  margin-top: 4px;
  padding-left: 12px;
}
