.draggableLogoMonitor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  right: 0;
  width: 100px;
  height: 76px;
  z-index: 100000;
  text-align: center;
  background-size: cover;
  border-radius: 4px;
}
